<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
  <arg name="calibrate_imu" default="false" doc="Enable the calibration of the IMU"/>
  <arg name="calibrate_mag" default="false" doc="Enable the calibration of the Magnetometer"/>

  <node name="auto_rover_dfrobot_gravity_10dof_node" pkg="auto_rover_dfrobot_gravity_10dof" type="auto_rover_dfrobot_gravity_10dof_node" output="screen">
    <param name="calibrate_imu" type="bool" value="$(arg calibrate_imu)" />
    <param name="calibrate_mag" type="bool" value="$(arg calibrate_mag)" />
  </node>
</launch>
